
.bg
{
    background: #7BA6B4 scroll;
    height:80vh;
}
.image
{
   
    height:80vh;
    width:80vh;
}
.StaticLoggedOutHomePage-communicationContent {
    color: #fff;
    max-width: 440px;
    padding: 0 16px;
    position: relative;
}
.StaticLoggedOutHomePage-communicationItem {
    display: flex;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    margin: 48px auto;
}
/* .StaticLoggedOutHomePage-communicationItem .Icon {
    font-size: 35px;
    margin-right: 16px;
}
.glyphicon {
    color:white;
    display: inline-block;
    font-style: normal;
    vertical-align: baseline;
    position: relative;
} */